body{
.header{
  background:#0d1b2a;
  color:white;
  padding:20px;
  text-align:center;
}

.contenedor-carrito{
  padding:40px;
  max-width:900px;
  margin:auto;
}

.producto{
  background:white;
  display:flex;
  align-items:center;
  gap:20px;
  padding:20px;
  margin-bottom:20px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  transition:0.3s;
}

.producto img{
  border-radius:10px;
}

.info{
  flex:1;
}

.precio{
  color:#e63946;
  font-weight:bold;
  font-size:20px;
}

.cantidad{
  margin-top:10px;
}

.cantidad button{
  padding:5px 12px;
  font-size:18px;
  border:none;
  background:#1d3557;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.eliminar{
  border:none;
  background:#e63946;
  color:white;
  font-size:18px;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
}

.resumen{
  background:white;
  padding:30px;
  text-align:center;
  box-shadow:0 -5px 20px rgba(0,0,0,0.05);
}

.pagar{
  margin-top:15px;
  padding:15px 40px;
  font-size:18px;
  border:none;
  background:#2a9d8f;
  color:white;
  border-radius:10px;
  cursor:pointer;
}